$ruddy-blue: #85ABD5;
$blue-gray: #6796cb;
$steel-blue: #4981c1;
$airforce-blue: #5986A8;
$baby-blue: #cbf3f0;
$moonrise: #43c0d9;
$moonstone: #42a5b9;
$skyblue: #7DB9CA;
$cobalt-blue: #003399;
$prussian-blue: #003566;
$mediumblue: #0000CD;
$royalblue: #0018a8;
$polynesianblue: #00509d;
$jet: #2B2C28;
$lighter-jet: #343630;
$subtitleyellow: #ffd60a;
$aureolin: #F9E42F;
$naplesyellow: #FFE770;
$flax: #FFEE8E;
$darkerivory: #e7e7da;
$alabaster: #EFEFE6;
$ivory: #F7F7ED;
$tiffanyblue: #9DCAC3;
$alabaster2: #EBE6DC;
$jet2: #333333;
$lapis: #2365A0;
$teal: #3AAAA7;
$jasmine: #F1D179;

:root {
  --ruddy-blue: #85ABD5;
  --blue-gray: #6796cb;
  --steel-blue: #4981c1;
  --airforce-blue: #5986A8;
  --baby-blue: #cbf3f0;
  --moonrise: #43c0d9;
  --moonstone: #42a5b9;
  --skyblue: #7DB9CA;
  --cobalt-blue: #003399;
  --prussian-blue: #003566;
  --mediumblue: #0000CD;
  --royalblue: #0018a8;
  --polynesianblue: #00509d;
  --jet: #2B2C28;
  --lighter-jet: #343630;
  --subtitleyellow: #ffd60a;
  --aureolin: #F9E42F;
  --naplesyellow: #FFE770;
  --flax: #FFEE8E;
  --tiffanyblue: #9DCAC3;
  --alabaster2: #EBE6DC;
  --jet2: #333333;
  --lapis: #2365A0;
  --teal: #3AAAA7;
  --jasmine: #F1D179;
}
