$ruddy-blue: #85ABD5;
$blue-gray: #6796cb;
$steel-blue: #4981c1;
$airforce-blue: #5986A8;
$baby-blue: #cbf3f0;
$moonrise: #43c0d9;
$moonstone: #42a5b9;
$skyblue: #7DB9CA;
$cobalt-blue: #003399;
$prussian-blue: #003566;
$mediumblue: #0000CD;
$royalblue: #0018a8;
$polynesianblue: #00509d;
$jet: #2B2C28;
$lighter-jet: #343630;
$subtitleyellow: #ffd60a;
$aureolin: #F9E42F;
$naplesyellow: #FFE770;
$maize: #FAEA58;
$flax: #FFEE8E;
$greenishbeige: #E2DD91;
$citron: #C1CC7D;
$grass: #B5B83B;
$mint: #D8E2DC;
$parchment: #F4EBCE;
$darkerivory: #e7e7da;
$alabaster: #EFEFE6;
$ivory: #F7F7ED;
$tiffanyblue: #9DCAC3;
$wave: #a2d2cb;
$alabaster2: #EBE6DC;
$jet2: #333333;
$lapis: #2365A0;
$teal: #3AAAA7;
$jasmine: #F1D179;
$nyanza: #EAF9D9;
$byzantine: #1E4EDB;
$warmwhite: #FFF8F0;
$cream: #FBE6C2;
$skymistblue:	#DCEEF2;
$dustyblue: #A9C4D1;
$blush: #FFD6C0;
$goldernoat: #E5C07B;
$mutedclay:	#B18C7B;
$sagemist: #DDE8D2;
$huntergreen: #3E5641;
$drab: #474A2C;
$violet: #6B4E71;
$mytrle: #317873;
$cambridgeblue: #85B09A;
$cambridgeblue2: #87AEA8;
$cambridgeblue3: #95BFB9;
$moonstone2: #7AADB3;
$greenash: #B8C7B5;
$moss: #8A9A5B;
$dutch: #EFDFBB;
$scriptwhite: #F5F3E7;
$lightkhaki: #D4D3AE;
$vanilla: #F3E5AB;
$softcharcoal: #2F2B2A;
$twilight: #2E3B59;
$indigo: #4D6680;
$amber: #F6D49B;
$cyan: #7BB7C7;
$sky: #469BB1;
$fledgrau: #4d5d53;
$airforce: #6e9195;
$ashblue: #b3c9c0;
$pearl: #e7e2c2;
$space: #414A4C;


:root {
  --ruddy-blue: #85ABD5;
  --blue-gray: #6796cb;
  --steel-blue: #4981c1;
  --airforce-blue: #5986A8;
  --baby-blue: #cbf3f0;
  --moonrise: #43c0d9;
  --moonstone: #42a5b9;
  --skyblue: #7DB9CA;
  --cobalt-blue: #003399;
  --prussian-blue: #003566;
  --mediumblue: #0000CD;
  --royalblue: #0018a8;
  --polynesianblue: #00509d;
  --jet: #2B2C28;
  --lighter-jet: #343630;
  --subtitleyellow: #ffd60a;
  --aureolin: #F9E42F;
  --naplesyellow: #FFE770;
  --maize: #FAEA58;
  --flax: #FFEE8E;
  --greenishbeige: #E2DD91;
  --citron: #C1CC7D;
  --grass: #B5B83B;
  --mint: #D8E2DC;
  --parchment: #F4EBCE;
  --alabaster: #EFEFE6;
  --ivory: #F7F7ED;
  --tiffanyblue: #9DCAC3;
  --wave: #a2d2cb;
  --alabaster2: #EBE6DC;
  --jet2: #333333;
  --lapis: #2365A0;
  --teal: #3AAAA7;
  --jasmine: #F1D179;
  --nyanza: #EAF9D9;
  --scriptwhite: #F5F3E7;
  --softcharcoal: #2F2B2A;
  --mytrle: #317873;
  --cambridgeblue: #85B09A;
  --cambridgeblue2: #87AEA8;
  --cambridgeblue3: #95BFB9;
  --moonstone2: #7AADB3;
  --greenash: #B8C7B5;
  --dutch: #EFDFBB;
  --lightkhaki: #D4D3AE;
  --vanilla: #F3E5AB;

}
