@font-face {
  font-family: 'ZTBrosOskon90s-Regular';
  src: url('../fonts/webfonts/ZTBrosOskon90s/ZTBrosOskon90s-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'ZTBrosOskon90s-Italic';
  src: url('../fonts/webfonts/ZTBrosOskon90s/ZTBrosOskon90s-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'ZTBrosOskon90s-Light';
  src: url('../fonts/webfonts/ZTBrosOskon90s/ZTBrosOskon90s-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'ZTBrosOskon90s-LightItalic';
  src: url('../fonts/webfonts/ZTBrosOskon90s/ZTBrosOskon90s-LightItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'ZTBrosOskon90s-ExtraLight';
  src: url('../fonts/webfonts/ZTBrosOskon90s/ZTBrosOskon90s-ExtraLight.woff2') format('woff2');
}
