@font-face {
  font-family: 'Movement-IndirectThin';
  src: url('../fonts/webfonts/Movement/Movement-IndirectThin.woff2') format('woff2');
}
@font-face {
  font-family: 'Movement-IndirectBlack';
  src: url('../fonts/webfonts/Movement/Movement-IndirectBlack.woff2') format('woff2');
}
@font-face {
  font-family: 'Movement-DirectBlack';
  src: url('../fonts/webfonts/Movement/Movement-DirectBlack.woff2') format('woff2');
}
@font-face {
  font-family: 'Movement-DirectThin';
  src: url('../fonts/webfonts/Movement/Movement-DirectThin.woff2') format('woff2');
}

@font-face {
  font-family: 'ZTBrosOskon90s-Regular';
  src: url('../fonts/webfonts/ZTBrosOskon90s/ZTBrosOskon90s-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'ZTBrosOskon90s-Italic';
  src: url('../fonts/webfonts/ZTBrosOskon90s/ZTBrosOskon90s-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'ZTBrosOskon90s-Light';
  src: url('../fonts/webfonts/ZTBrosOskon90s/ZTBrosOskon90s-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'ZTBrosOskon90s-LightItalic';
  src: url('../fonts/webfonts/ZTBrosOskon90s/ZTBrosOskon90s-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Subjectivity-Thin';
  src: url('../fonts/webfonts/Subjectivity/Subjectivity-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Subjectivity-LightSlanted';
  src: url('../fonts/webfonts/Subjectivity/Subjectivity-LightSlanted.woff2') format('woff2');
}
@font-face {
  font-family: 'Subjectivity-Medium';
  src: url('../fonts/webfonts/Subjectivity/Subjectivity-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Subjectivity-Bold';
  src: url('../fonts/webfonts/Subjectivity/Subjectivity-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Subjectivity-BoldSlanted';
  src: url('../fonts/webfonts/Subjectivity/Subjectivity-BoldSlanted.woff2') format('woff2');
}
@font-face {
  font-family: 'Subjectivity-Black';
  src: url('../fonts/webfonts/Subjectivity/Subjectivity-Black.woff2') format('woff2');
}
