@use '../styles/global.scss' as *;

.about {
  width: 100%;
  height: 90vh;
  background-color: $mint;
  // background: linear-gradient(
  //   to bottom,
  //   $alabaster,
  //   $alabaster2,
  // );
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  // padding: 80px 0;

  .title {
    width: 40px;

    path {
      stroke-width: 2.5px;
    }
  }

  .aboutImg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .aboutImgInner {
      position: relative;
      width: 200px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .borderSvg {
      position: absolute;
      top: -15px;
      left: -20px;
      width: 100%;
      height: auto;
      z-index: 10;
      pointer-events: none;
    }

    img {
      margin: 0;
      width: 200px;
      height: auto;
    }
  }

  .fixedImg {
    width: 200px;
    height: auto;
    margin-left: 10px;
    margin-top: 20px;
    z-index: 0;
    pointer-events: none;
  }

  .aboutContent {
    width: 100%;
    height: auto;
    text-align: center;

    .aboutText {
      font-family: 'ZTBrosOskon90s-Regular', sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.2;
      color: $lighter-jet;
    }
  }
}
