@use '../styles/global.scss' as *;

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    $moonrise,
    $tiffanyblue,
    $alabaster2,
  );

}
