@use '../styles/global.scss' as *;

.title {
  width: 100%;
  max-width: 420px;
  margin: 12px auto;
  font-family: "ZTBrosOskon90s-Regular", sans-serif;
  font-weight: 500;
  color: $aureolin;
  letter-spacing: 1px;

  span {
    // font-size: 3.5rem;
    font-size: calc(1.5rem + 2vw);
  }
}
