@use '../styles/global.scss' as *;

.contact {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 100;
  margin: 1.5rem auto;
  background-color: transparent;
  width: 100%;
  background-color: transparent;
  text-align: center;
  font-family: "ZTBrosOskon90s-Regular", sans-serif;
  font-size: 1.7rem;

  .contactList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;

    a {
      text-decoration: none;
      color: $lapis;
    }
  }
}
