@use '../styles/global.scss' as *;

.contact {
  background-color: $cambridgeblue3;
  background-image: url('../assets/images/sky4.jpg');
  background-size: 120%;
  background-position: top;
  animation: animate-background 5s infinite alternate linear;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  display: none;
  z-index: 1;
  transition: opacity 0.6s ease;
  overflow: hidden;

  @keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
  }

  &.visible {
    display: block;
  }

  .contactHeader {
    text-align: center;
    font-family: 'ZTBrosOskon90s-Regular', serif;
    font-size: clamp(1.2rem, 1.2rem + 1.2vw, 2rem);
    color: $cambridgeblue3;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contactLinks {
    padding-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .email {
      position: relative;
      cursor: pointer;
      &:hover {
        .milo {
          transform: translateY(8px) translateX(8px);
        }

        .emailSVG {
          path {
            stroke: $lapis;
          }
        }
      }

      .emailSVG {
        position: absolute;
        bottom: 20px;
        left: 40px;
        width: 160px;
        cursor: pointer;
        transform: rotate(40deg);
      }

      .milo {
        position: absolute;
        bottom: 20px;
        left: 50px;
        width: 150px;
        height: auto;
        transition: transform 0.3s ease;
      }
    }

    .github {
      position: relative;
      cursor: pointer;
      &:hover {
        .fifi {
          transform: scale(0.95) translateX(10px);
        }

        .githubSVG {
          path {
            stroke: $lapis;
          }
        }
      }

      .githubSVG {
        position: absolute;
        bottom: 50px;
        left: -140px;
        width: 50px;
        transform: rotate(-90deg);
      }

      .fifi {
        position: absolute;
        bottom: 10px;
        left: -200px;
        width: 80px;
        height: auto;
        transition: transform 0.3s ease;
      }
    }

    .linkedin {
      position: relative;
      cursor: pointer;
      &:hover {
        .chichi {
          transform: translateX(10px) translateY(10px) rotate(3deg);
        }

        .linkedinSVG {
          path {
            stroke: $lapis;
          }
        }
      }

      .linkedinSVG {
        position: absolute;
        bottom: 85px;
        left: -10px;
        width: 50px;
        cursor: pointer;
        transform: rotate(40deg);
      }

      .chichi {
        position: absolute;
        bottom: -10px;
        left: -110px;
        width: 200px;
        height: auto;
        transition: transform 0.3s ease;
      }
    }

    .cat {
      pointer-events: none;
    }


    @media (max-width: 768px) {
      .cat {
        transform: scale(0.7);
      }
    }
  }


  // position: fixed;
  // top: 70%;
  // left: -130px;
  // z-index: 500;
  // background-color: transparent;
  // text-align: center;
  // font-size: 1.7rem;
  // pointer-events: auto;

  // .contactInner {
  //   position: relative;
  //   display: flex;
  //   align-items: center;

  //   .tab {
  //     width: 100px;
  //     position: absolute;
  //     left: 80px;
  //     top: 0;
  //     z-index: 100;
  //   }

  //   .contactList {
  //     position: absolute;
  //     left: -90px;
  //     top: 90px;
  //     transform: translateY(-50%);
  //     list-style: none;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     width: 400px;
  //     z-index: 105;

  //     .contactItem {
  //       margin: 8px 0;

  //       a {
  //         text-decoration: none;
  //         color: $lapis;
  //       }
  //     }
  //   }
  // }

  // &:hover {
  //   left: -83px;
  // }

}
