@use '../styles/global.scss' as *;

.contact {
  position: fixed;
  top: 50%;
  left: -130px;
  z-index: 100;
  background-color: transparent;
  text-align: center;
  font-size: 1.7rem;

  .contactInner {
    position: relative;
    display: flex;
    align-items: center;

    .tab {
      width: 200px;
      position: absolute;
      left: 80px; // Adjust so it's inside the hidden part of the tab
      top: 0;
      z-index: 100;
    }

    .contactList {
      position: absolute;
      left: -90px; // Adjust so it's inside the hidden part of the tab
      top: 150px;
      transform: translateY(-50%);
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      z-index: 105;

      .contactItem {
        margin: 8px 0;

        a {
          text-decoration: none;
          color: $lapis;
        }
      }
    }
  }

  &:hover {
    left: -80px; // Slide out on hover
  }

}
