@use '../styles/global.scss' as *;

.home {
  position: relative;
  width: 100%;
  height: 200vh;
  overflow-x: hidden;
}

.homeBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // background: linear-gradient(
  //   to bottom,
  //   $ivory,
  //   $alabaster,
  //   $alabaster2,
  //   $tiffanyblue,
  //   $moonrise
  // );
  background: $warmwhite;
  z-index: 0;
}

.homeContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // background: linear-gradient(
  //   to bottom,
  //   $ivory,
  //   $alabaster,
  //   $alabaster2
  // );
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;

  .webdev {
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .yangon {
    top: 12%;
    left: 17%;
    transform: translate(-50%, -50%);
  }

  .portfolio {
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

}
