@use '../styles/global.scss' as *;

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $moonrise;
  text-align: center;
  position: relative;
  // overflow: hidden;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nameWrapper {
    display: inline-block;
    transform-origin: center;
    perspective: 150px;

    .name {
      font-family: "Subjectivity-Black", sans-serif;
      color: $aureolin;
      // font-size: 4.5rem;
      font-size: calc(2.2rem + 2.5vw);
      margin: 0;
      position: relative;
      z-index: 2;
    }

    .shadow {
      font-family: "Subjectivity-Black", sans-serif;
      // font-size: 4.5rem;
      font-size: calc(2.2rem + 2.5vw);
      color: rgba($moonstone, 0.9);
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      z-index: 1;
      transform-origin: 0 100% 80px;
      transform-style: preserve-3d;
      filter: blur(3px);
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .images {
    .clouds {
      width: 100%;
      min-width: 1200px;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      object-fit: cover;
      overflow: hidden;
    }
  }
}
