@use '../styles/global.scss' as *;

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    $ivory,
    $alabaster,
  );
  text-align: center;
  position: relative;
  // overflow: hidden;

  .nameWrapper {
    display: inline-block;
    transform-origin: center;
    width: 500px;
    line-height: 0.8;

    .name {
      font-family: "Montserrat Alternates", sans-serif;
      color: $steel-blue;
      // font-size: 4.5rem;
      // font-size: calc(2.2rem + 2.5vw);
      font-size: calc(7rem + 4vw);
      font-weight: 800;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span:first-of-type {
        position: relative;
        display: block;
      }

      .shadowWrapper {
        position: absolute;
        top: -50px;
        left: 0;
        width: 100%;
        height: 100%;
        perspective: 300px;
        z-index: -1;

        .shadow {
          font-size: inherit;
          line-height: 0;
          color: rgba($jet2, 0.3);
          // position: absolute;
          // top: -50px;
          // left: 0;
          // right: 0;
          // transform-origin: 0 100% 80px;
          transform-origin: bottom;
          transform-style: preserve-3d;
          perspective: 50px;
          filter: blur(2px);
          opacity: 0.3;
          pointer-events: none;
          transform: translateY(20px);
        }
      }
    }
  }

  .webdev {
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .yangon {
    top: 12%;
    left: 17%;
    transform: translate(-50%, -50%);
  }

  .portfolio {
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

}

// left: 8%, 17%, 25%, 33%, 42%, 50%, 58%, 67%, 75%, 83%, 92%
// top: 12%, 25%, 37%, 50%, 62%, 75%, 87%
