@use '../styles/global.scss' as *;

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $alabaster2;
  text-align: center;
  position: relative;
  // overflow: hidden;

  .nameWrapper {
    display: inline-block;
    transform-origin: center;
    perspective: 150px;
    width: 500px;
    line-height: 1;

    .name {
      font-family: "Montserrat Alternates", sans-serif;
      color: $steel-blue;
      // font-size: 4.5rem;
      // font-size: calc(2.2rem + 2.5vw);
      font-size: calc(8.2rem + 2.5vw);
      font-weight: 800;
      margin: 0;
      position: relative;
      z-index: 2;
    }

    .shadow {
      font-family: "Montserrat Alternates", sans-serif;
      // font-size: 4.5rem;
      // font-size: calc(2.2rem + 2.5vw);
      font-size: calc(8.2rem + 2.5vw);
      font-weight: 800;
      color: rgba($ruddy-blue, 0.6);
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      z-index: 1;
      transform-origin: 0 100% 80px;
      transform-style: preserve-3d;
      filter: blur(3px);
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .webdev {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .yangon {
    top: 15%;
    left: 30%;
  }

}
