@use '../styles/global.scss' as *;

.projects {
  width: 100%;
  height: 200vh;
  background: linear-gradient(
    to bottom,
    $alabaster2,
    $tiffanyblue,
    $moonrise,
  );
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  // overflow: hidden;

  .title {
    width: 150px;
    top: 80px;
    left: 50%;
    z-index: 1000;

    path {
      stroke-width: 2.5px;
    }
  }

  .grid {
    margin: auto;
    padding-top: 80px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 120px);
    grid-template-rows: repeat(8, 120px);
    gap: 1rem;
    width: 100%;
    // max-width: 1200px;
  }

  .projectWrapper {
    position: relative;
  }

  .projectCard {
    position: relative;
    background: $ivory;
    border: 1px solid $lighter-jet;
    padding: 1rem;
    cursor: pointer;
    transform-origin: center;
    user-select: none;
  }

  .scatteredCard {
    position: absolute;
    width: 350px;
    max-width: 400px;
    height: 200px;
    background: $ivory;
    border: 1px solid $lighter-jet;
    padding: 0.5rem;
    z-index: 20;
    pointer-events: auto;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
